## all ignore
/*
/.**

!*/
## white list
!/install.sh
!/.zshenv
!/.gitignore
!/README.md
!/LICENSE
!/.github/**
!/.config/
!/.config/alacritty/alacritty.toml
!/.config/alacritty/themes/themes/tokyo-night-storm.toml
!/.config/Code/
!/.config/Code/User
!/.config/Code/User/settings.json
!/.config/Code/User/keybindings.json
!/.config/git/
!/.config/git/.gitconfig
!/.config/nvim/
!/.config/nvim/**
!/.config/vi/
!/.config/vi/.exrc
!/.config/vim/
!/.config/vim/.vimrc
!/.config/zsh/
!/.config/zsh/**
!/.config/zellij/
!/.config/zellij/**
!/.config/zeno/**
/.config/zsh/.zcomp*
/.config/zsh/*history
/.config/zsh/.zim/
/.config/zsh/.zshenv.local
